body {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;

    background-image: url(https://pbs.twimg.com/media/Dr4TSY8XgAABt6k.png); /* Ruta de la imagen */
    background-size: cover; /* Asegura que la imagen cubra toda el área disponible */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que la imagen de fondo se quede fija al hacer scroll */
    margin: 0; /* Elimina los márgenes del body */
    padding: 0; /* Elimina el padding del body */
  }
  
  .content {
    position: relative; /* Asegura que el contenido se quede por encima de la imagen */
    z-index: 1; /* Coloca el contenido por encima del fondo */
    color: white; /* Cambia el color del texto para que sea legible sobre la imagen */
  }

header {
    background-color: #ff0000;
    color: white;
    padding: 20px;
    font-size: 24px;
}

